* {
    padding: 0;
    margin: 0; 
    
}
.main-header{
     background-color: black;
     box-sizing: border-box;
     padding: 15px;      
     display: grid;
     grid-template-columns: 0.2fr 6fr 1fr 1fr 0.2fr 1fr 1fr;
     grid-template-areas: "logo . . . . . menu";
     
}
.spot-logo{
    grid-area: logo;
    text-align: left;
    
}
.spot-menu{
    grid-area: auto;
    text-align: right;
    padding-right: 0px; 
    padding-left: 50px;
}
.sp-font{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    font-size: 12px;
}
/*.main-header:hover{
    width: 100px;
     height: 100px;
     background: rgb(151, 148, 148);
     transition: width 2s;
     width: 300px;

}*/
    
.section-premium{
    background-color: rgb(80, 155, 245);
    color: rgb(255, 255, 255); 
    box-sizing: border-box;
    padding: 42px;  
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    font-size: 60px;
    

} 
.m-premium{
    background-color: rgb(80, 155, 245);
    color: rgb(255, 255, 255); 
    box-sizing: border-box;
    padding: 42px;  
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    font-size: 20px;
    display: grid;
    
   
}
.f-premium{
    background-color: rgb(80, 155, 245);
    color: rgb(255, 255, 255); 
    box-sizing: border-box;
    padding: 42px;  
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    font-size: 11px;

}
.section-trial{
    background-color: rgb(167, 137, 190);
    box-sizing: border-box;
    padding: 43px; 
    color: #FFF; 
    text-align: center;
    box-sizing: border-box;
    padding: 42px;  
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    /*display: inline-block;*/
    font-size: 30px; 
}
.w-button {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-radius: 500px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 17px 48px;
    position: center;
    background-color: rgb(250, 252, 251);
    color: rgb(10, 10, 10);
}
.benefits{
    box-sizing: border-box;
    padding: 43px; 
    color: black; 
    text-align: center;
    box-sizing: border-box;
    padding: 42px;  
    font-family:  Helvetica, Arial, sans-serif;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    display: inline-block;
    font-size: 30px; 
}
.icons{
    display: grid;
    grid-gap: 10px;
    margin: 50px;
    grid-template-columns: 1fr .1fr 1fr 1fr;
    grid-template-areas:
          "descarga  anuncios escucha salta "
          "descarga  anuncios escucha salta"
          "descarga  anuncios escucha salta"; 
}
.i-font{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50%;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-weight: 90;
    max-width: 100%;
}
.choose-premium {
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;
    padding: 43px; 
    color: black; 
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    font-size: 30px; 
}
.grid { 
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ind duo fam stud";   
    padding-right: 90px;
    padding-left: 90px;                      
}
.grid.ind-container{
    grid-area: ind;
    background-color: rgb(248, 248, 248);
}
.grid.duo-container{
    grid-area: duo;
    background-color: rgb(248, 248, 248);
}
.grid.fam-container{
    grid-area: fam;
    background-color: rgb(248, 248, 248);
}
.grid.stud-container{
    grid-area: stud;
    background-color: rgb(248, 248, 248);
}
.kkdtek {
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    box-shadow: rgb(255, 255, 255) 0px 8px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
    font-family: Helvetica, Arial, sans-serif;
}
.euBIMF {
    background-color: rgb(255, 255, 255);
    max-width: 400px;
    width: auto;
    padding: 16px 20px 16px;
    position: relative;
    list-style: none;
    box-shadow: rgb(255, 255, 255) 0px -8px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
    font-family: Helvetica, Arial, sans-serif;
     
}
.jqrPXB {
    display: flex;
    margin-bottom: 5px;
}
.ivUHTG {
    line-height: 22px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}
.hWuJne {
    background-color: rgb(255, 255, 255);
    max-width: 400px;
    width: auto;
    padding: 4px 20px 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgb(255, 255, 255) 0px -8px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
    margin-bottom: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
}
.b-button {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 10px 10px;
    position: relative;
    background-color: rgb(3, 108, 245);
    color: rgb(255, 255, 255);
    
}
.g-button {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-radius: 500px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 17px 48px;
    position: relative;
    background-color: rgb(29, 185, 84);
    color: rgb(255, 255, 255);
}
.main-footer {
    background-color: black;
    box-sizing: border-box;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.2fr 0.2fr 0.9fr 1fr 1fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "... ... ... ... ... flag"
                         "legal cooky anun ... ... copy";   
    padding-right: 40px;
    padding-left: 80px;    
    padding-top: 10px;
    padding-bottom: 0px;

} 
.f-legal {
    grid-area: legal;
    text-align: left;
    font-size: 12px;
}
.f-cooky {
    grid-area: cooky;
    text-align: left;
    font-size: 12px;
}
.f-anun {
    grid-area: anun;
    text-align: left;
    font-size: 12px;    
}
.f-flag{ 
    grid-area: flag;
    text-align: center;
}
.p-flag {
    display: flex;
    width: 45px;
    align-items: center;
}
.f-copy {
    grid-area: copy;
    text-align: center;
}